@font-face {
  font-family: OpenSans;
  src: url(/fonts/Open_Sans/OpenSans-Regular.ttf); }

@font-face {
  font-family: OpenSansBold;
  src: url(/fonts/Open_Sans/OpenSans-Bold.ttf); }

body {
  font-family: OpenSans, sans-serif; }

h1 {
  font-family: OpenSansBold, sans-serif; }

img {
  max-width: 100%; }

input.error {
  border-color: red; }

label.error {
  color: red;
  font-size: 12px; }

.prolife-avatar {
  min-width: 150px;
  min-height: 150px;
  width: 400px;
  height: 400px;
  border: 1px solid #333;
  border-radius: 50%;
  object-fit: cover; }

.btn-primary {
  background-color: #0c4da2;
  border-color: #0c4da2; }

.fixed-top {
  top: -40px;
  transform: translateY(40px);
  transition: transform 0.3s; }

.header__menu-nav {
  background-color: #000; }

.header__menu-logo {
  max-width: 200px; }

.header__menu-item {
  color: #ffffff !important;
  font-weight: 500;
  display: flex;
  align-items: center; }

.header__menu-link {
  color: #ffffff !important;
  font-weight: 500; }

.header__menu-info {
  margin-left: auto; }

.header__menu-avt {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ffffff; }

.header__menu-border {
  height: 1rem;
  border-left: 1px solid #333; }

.banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 3.6rem); }

.short-feature__icon {
  width: 76px; }

.short-feature__title {
  font-weight: bold; }

.feature-courses {
  padding-bottom: 4rem; }
  .feature-courses__author, .feature-courses__totalStudent {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6); }
  .feature-courses__img {
    object-fit: cover;
    transition: all 0.3s linear; }
  .feature-courses__card:hover .feature-courses__img {
    opacity: 0.8; }

.call {
  padding: 5rem 0;
  color: #ffffff;
  background-color: #0c4da2;
  background-image: url("/img/bg_footer.png"); }

.footer {
  background-color: #000;
  padding: 5rem 0 2rem 0; }
  .footer__inner {
    border-bottom: 1px solid #333; }
  .footer__logo {
    max-width: 250px;
    display: block; }
  .footer__title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff; }
  .footer__paragraph {
    margin-top: 1rem;
    color: #b8b7b7; }
  .footer__list {
    list-style: none;
    padding-left: 0; }
  .footer__link {
    color: #b8b7b7; }

.breadcrumb {
  margin-top: 10px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent; }
  .breadcrumb a {
    color: #0c4da2; }

.course-detail__list {
  list-style: none;
  background-color: #fff;
  padding-inline-start: 0; }

.course-image img {
  width: 100%;
  border: 1px solid #000; }

.course-bg {
  height: 600px;
  background-repeat: no-repeat;
  border: 1px solid #000;
  background-size: cover; }

.icon-check {
  color: #0c4da2;
  margin-right: 1rem; }

.lession {
  border: 1px solid #c3c3c3;
  height: 95vh; }
  .lession__title table th {
    border-top: 0; }
    .lession__title table th:first-child {
      width: 55px; }
  .lession__list {
    height: 84vh;
    overflow-y: auto;
    background-color: #fff; }
    .lession__list::-webkit-scrollbar {
      width: 3px; }
    .lession__list::-webkit-scrollbar-track {
      background: #f1f1f1; }
    .lession__list::-webkit-scrollbar-thumb {
      background: #888; }
    .lession__list::-webkit-scrollbar-thumb:hover {
      background: #555; }
  .lession__item:hover {
    background-color: #f1f1f1;
    transition: linear 0.2s; }
  .lession__link {
    color: #000;
    display: block; }
    .lession__link:hover {
      color: #000;
      text-decoration: none; }

.comment {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0; }
  .comment__inner {
    position: relative;
    width: 100%;
    margin-left: 10px;
    padding: 9px 12px;
    border-radius: 10px;
    background-color: #f2f3f5; }
    .comment__inner:hover .comment__options {
      display: block !important; }
  .comment__options {
    position: absolute;
    top: 9px;
    right: 12px;
    display: none;
    cursor: pointer; }
  .comment__btn {
    display: block;
    margin-left: auto; }
  .comment__avt {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover; }
  .comment__edit {
    border: none; }
  .comment__action {
    margin-left: 3rem; }
    .comment__action--reply {
      font-size: 13px;
      color: #0c4da2;
      cursor: pointer; }
      .comment__action--reply:hover {
        text-decoration: underline; }
    .comment__action--time {
      margin-left: 1rem;
      font-size: 13px;
      color: #c3c3c3; }

.reply-form {
  display: none; }
