<section class="footer">
    <div class="container footer__inner">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <a href="/" class="footer__logo">
                    <img src="/img/Courseuni.png">
                </a>
                <p class="footer__paragraph">Courseuni là nơi học lập trình miễn phí</p>
                <p class="footer__paragraph">Các khoá học được chọn lọc kỹ lưỡng từ nội dung tới chất lượng hình ảnh và
                    âm thanh.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="footer__title">
                    Courseuni
                </h6>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Giới thiệu</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Câu hỏi thường gặp</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="footer__title">
                    Theo dõi chúng tôi
                </h6>
                <ul class="footer__list">
                    <li class="footer__item">
                        <div class="fb-page" data-href="https://www.facebook.com/100068661770267"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center footer__paragraph">© 2021 Courseuni. All rights reserved.
    </p>
</section>