<div class="container pb-5">
    <div class="d-flex justify-content-center">
        <form id="needs-validation" method="POST" class="p-3" enctype="multipart/form-data">
         <h3 class="text-center font-weight-bold mb-3">Đổi ảnh đại diện</h3>
            <div class="form-group">
                <label for="avt">
                    {{#if user.avatar }}
                    <img id="avtPreview" class="prolife-avatar" src="/{{ user.avatar }}" alt="Ảnh lỗi">
                    {{else}}
                    <img id="avtPreview" class="prolife-avatar" src="/img/avt_default.png">
                    {{/if}}
                </label>
            </div>
            <div class="form-group">
                <input type="file" name="avatar" id="avt" class="d-block my-4 mx-auto" required>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary d-block mx-auto px-3" value="Xác nhận" required>
            </div>
        </form>
    </div>
</div>

<script>
    avt.onchange = evt => {
        const [file] = avt.files
        if (file) {
            avtPreview.src = URL.createObjectURL(file)
        }
    }

    document.addEventListener('DOMContentLoaded', function () {


        $('#needs-validation').validate({
            rules: {

            },
            messages: {

            },
        });
        $('input[name^="avatar"]').rules('add', {
            required: true,
        })
    })
</script>