<div class="container py-3 text-justify">
    <h3 class="text-center font-weight-bold py-2">Điều khoản sử dụng</h3>
    <h6 class="text-uppercase font-weight-bold">1. Điều khoản chung</h6>
    <p>
        Bằng cách truy cập hoặc sử dụng trang web courseuni.com, các dịch vụ, hoặc bất kỳ ứng dụng nào do Courseuni cung cấp (gọi chung là “Dịch vụ”), dù truy cập bằng cách nào, bạn đồng ý chịu sự ràng buộc của các điều khoản sử dụng này (“Điều khoản sử dụng”). Dịch vụ do Courseuni sở hữu hoặc kiểm soát. Các Điều khoản sử dụng này ảnh hưởng đến quyền và nghĩa vụ pháp lý của bạn. Nếu bạn không đồng ý chịu sự ràng buộc của tất cả các Điều khoản sử dụng này, bạn không truy cập hay sử dụng Dịch vụ. Nếu Bạn có bất kỳ câu hỏi nào liên quan đến Điều Khoản này, vui lòng liên hệ chúng tôi tại email: toank61humg@gmail.com.
    </p>
    <p>
        Chúng tôi có thể cập nhật Điều Khoản này theo thời gian vì các lý do pháp lý hoặc theo quy định hoặc để cho phép hoạt động thích hợp của trang web courseuni.com. Mọi thay đổi sẽ được cập nhật tại trang này. Những thay đổi này sẽ áp dụng cho việc sử dụng trang web courseuni.com. Nếu chúng tôi nghĩ các thay đổi này quan trọng, chúng tôi có thể gửi thông báo đến địa chỉ email liên kết với tài khoản Courseuni của bạn trước khi các Điều khoản cập nhật này có hiệu lực. Nếu bạn không đồng ý với các thay đổi này, bạn có thể dừng sử dụng Dịch vụ của chúng tôi và xóa tài khoản của bạn. Nếu bạn tiếp tục sử dụng các Dịch vụ của chúng tôi kể từ ngày sự thay đổi có hiệu lực, việc bạn sử dụng trang web courseuni.com và các dịch vụ của Courseuni thể hiện rằng bạn hiểu và đồng ý bị ràng buộc bởi các Điều khoản mới.
    </p>
    <h6 class="text-uppercase font-weight-bold">2. Đăng ký</h6>
    <p>
        Để sử dụng Dịch vụ bạn phải tạo một tài khoản theo yêu cầu của Courseuni, bạn cam kết rằng việc sử dụng tài khoản phải tuân thủ các quy định của Courseuni, đồng thời tất cả các thông tin bạn cung cấp cho chúng tôi là đúng, chính xác, đầy đủ với tại thời điểm được yêu cầu. Mọi quyền lợi và nghĩa vụ của bạn sẽ căn cứ trên thông tin tài khoản bạn đã đăng ký, do đó nếu có bất kỳ thông tin sai lệch nào chúng tôi sẽ không chịu trách nhiệm trong trường hợp thông tin đó làm ảnh hưởng hoặc hạn chế quyền lợi của bạn. Khi đăng ký Khoá học tại Courseuni, bạn đã đồng ý với các điều khoản và chính sách trong văn bản này.
    </p>
    <h6 class="text-uppercase font-weight-bold">3. Mật khẩu và bảo mật</h6>
    <ul>
        <li>
            Khi bạn đăng ký sử dụng trang web courseuni.com bạn sẽ được yêu cầu khởi tạo mật khẩu. Để tránh việc gian lận, bạn phải giữ mật khẩu này bảo mật và không được tiết lộ hoặc chia sẻ với bất kỳ người nào. Nếu bạn biết hoặc nghi ngờ người khác biết mật khẩu của bạn, bạn nên thông báo với chúng tôi ngay lập tức bằng cách liên hệ với chúng tôi tại email toank61humg@gmail.com
        </li>
        <li>
            Nếu courseuni.com có lý do để tin rằng có khả năng có hành vi vi phạm bảo mật hoặc sử dụng không đúng mục đích trang web courseuni.com, chúng tôi có thể yêu cầu bạn thay đổi mật khẩu.
        </li>
        <li>
            Trường hợp bạn mất Mật khẩu, bạn có thể liên hệ với email toank61humg@gmail.com để được hỗ trợ.
        </li>
    </ul>
    <h6 class="text-uppercase font-weight-bold">4. QUYỀN TRUY CẬP VÀ THU THẬP THÔNG TIN</h6>
    Khi sử dụng trang web courseuni.com, bạn thừa nhận rằng chúng tôi có quyền thu thập các thông tin sau của bạn:
    <ul>
        <li>
            Bạn thừa nhận và đồng ý một mình chịu trách nhiệm về hình thức, nội dung và tính xác thực của bất kỳ hồ sơ hoăc tài liệu nào do bạn đăng tải trên trang web courseuni.com, đồng thời đồng ý một mình chịu trách nhiệm cho bất kỳ hệ quả nào phát sinh từ việc đăng tải này.
        </li>
        <li>
            Courseuni có quyền đề xuất đến bạn dịch vụ và sản phẩm của bên thứ ba dựa trên các mục phù hợp mà bạn xác định trong khi đăng ký và bất kỳ lúc nào sau đó hoặc khi bạn đã đồng ý tiếp nhận, các đề xuất này sẽ được thực hiện bởi Courseuni hoặc các bên thứ ba.
        </li>
        <li>
            Courseuni được quyền tùy ý tuân theo các yêu cầu pháp lý, các yêu cầu từ cơ quan thi hành án hoặc yêu cầu của cơ quan quản lý, thậm chí sự tuân thủ này có thể bao gồm việc công bố một số thông tin Người dùng nhất định. Ngoài ra, bên thứ ba được phép giữ lại các bản sao lưu trữ thông tin Người dùng.
        </li>
        <li>
            Bạn hiểu và thừa nhận rằng bạn không có các quyền sở hữu trong tài khoản của bạn và nếu bạn hủy bỏ tài khoản trên trang web courseuni.com hoặc tài khoản của bạn bị chấm dứt, tất cả các thông tin tài khoản của bạn tại trang web courseuni.com, bao gồm sơ yếu lý lịch, thông tin cá nhân, bài đăng sẽ được đánh dấu là bị xóa và có thể bị xóa khỏi Cơ sở dữ liệu Courseuni và sẽ được gỡ bỏ từ bất kỳ khu vực chung nào trên trang web courseuni.com. Thông tin có thể tiếp tục được hiển thị trong một khoảng thời gian vì các trở ngại trong khi truyền tín hiệu xóa thông qua các máy chủ của courseuni.com hoặc do yêu cầu của các cơ quan chức năng liên quan. Ngoài ra, các bên thứ ba được phép giữ lại bản sao thông tin của bạn.
        </li>
        <li>
            Courseuni có quyền cấm hoặc xoá bình luận của bạn khi bạn bình luận với nội dung không phù hợp.
        </li>
    </ul>

    <h6 class="text-uppercase font-weight-bold">5. Tuyên bố miễn trừ trách nhiệm</h6>
    <ul>
        <li>
            Courseuni không tuyên bố hay đảm bảo rằng dịch vụ sẽ không bị lỗi hay không bị gián đoạn; rằng các lỗi sẽ được khắc phục; hoặc rằng dịch vụ hoặc máy chủ cung cấp dịch vụ không bị nhiễm bất kỳ thành phần có hại nào, bao gồm nhưng không giới hạn ở vi-rút. Courseuni không đưa ra bất kỳ tuyên bố hay đảm bảo nào rằng thông tin (bao gồm mọi hướng dẫn) về dịch vụ chính xác, đầy đủ hoặc hữu ích. Bạn xác nhận rằng bạn tự chịu rủi ro khi sử dụng dịch vụ. Courseuni không đảm bảo rằng việc bạn sử dụng dịch vụ là hợp pháp trong bất kỳ khu vực pháp lý cụ thể nào và Courseuni từ chối đưa ra các bảo đảm đó một cách cụ thể. Một số khu vực pháp lý giới hạn hoặc không cho phép tuyên bố miễn trừ trách nhiệm về bảo đảm ngụ ý hay các bảo đảm khác, vì vậy tuyên bố miễn trừ trách nhiệm trên có thể không áp dụng cho bạn trong phạm vi luật pháp của khu vực pháp lý đó áp dụng cho bạn và các điều khoản sử dụng này.
        </li>
        <li>
            Bằng cách truy cập hay sử dụng dịch vụ, bạn tuyên bố và đảm bảo rằng hoạt động của mình là hợp pháp trong mọi khu vực pháp lý nơi bạn truy cập hay sử dụng dịch vụ.
        </li>
        <li>
            Courseuni không xác nhận nội dung và từ chối cụ thể bất kỳ trách nhiệm hay trách nhiệm pháp lý nào đối với bất kỳ cá nhân hay tổ chức nào về mọi mất mát, thiệt hại (cho dù thực sự, do hậu quả, do trừng phạt hoặc bất kỳ điều gì khác), thương tích, khiếu nại, trách nhiệm pháp lý hay nguyên nhân khác dưới mọi hình thức hoặc đặc điểm dựa trên hoặc do bất kỳ nội dung nào.
        </li>
    </ul>

</div>